.footer-copyright{
    font-size: 20px;
    color: #333333!important;   
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-title{
    font-size: 28px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-link-wrap{
    margin-bottom: 10px;
}

.footer-menu-link{
    font-weight: bold;
    color: #666666;
    font-size: 22px;
    text-decoration: none;
}

.footer-menu-link:hover{
    text-decoration: none;
    color: #999999 ;
}

.footer-contact__title{
    font-size: 22px;
    font-weight: bold;
    color: #666666;
}

.footer-contact__value{
    font-size: 22px;
    color: #666666;
}

.footer-logos-list{
    margin-top: 80px;
    margin-bottom: 50px;
}

.footer-note-text,
.footer-note-text p{
    color: #333333;
    font-size: 13px;
    font-weight: 500;
}

.footer-menu-links-col{
    text-align: right;
    border-right: 1px solid #666666;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-menu-links-col-wrap{
    display: inline-block;
    margin-right: 180px;
    text-align: left;
}

.footer-social-links-col{
    text-align: left;
    padding-left: 180px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-logo__img{
    height: 50px;
}

.footer-links-container{
    margin-top: 60px;
}

.footer-contact-row{
    margin-bottom: 10px;
}

.social-links__link:hover{
    text-decoration: none;
}

.footer-partner-logo__img{
    height: 60px;
}

.social-links__link-wrap{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343133;    
    border-radius: 50%;
}

.social-links__link-wrap:hover{
    background: #666666;
}

.social-links__link{
    margin-right: 20px;
    display: inline-block;
}

.social-links__link:last-of-type{
    margin-right: 0px;
}

.social-links__link i{
    color: #f3f7f7;
    font-size: 40px;
}