.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section {
  padding: 80px 20px;
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.dnd-section .widget-type-cell {
  padding-left: 0;
  padding-right: 0;
}

/* General  */
.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
  padding: 0 25px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mobile-col {
    flex-direction: column;
  }
}
