form.hs-form {
  background-color: #dee2e5;
  font-family: sans-serif;
  padding: 20px;
}

h3.form-title {
  background-color: #051f46;
  border-bottom: 2px solid #ff5e14;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
}

form.hs-form .hs-button {
  display: block;
  width: 100%;
}

.hs-form label,
.hs-form-field > label {
  color: #33475b;
  display: block;
  float: none;
  font-family: Lato, serif;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 4px;
  padding-top: 0;
  text-align: left;
  width: auto;
}

.hs-error-msgs label {
  color: #f2545b;
  margin-top: 0.5rem;
}

.hs-input {
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  color: #33475b;
  display: inline-block;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  padding: 9px 10px;
  width: 100%;
}

.hs-input[type='checkbox'],
.hs-input[type='radio'] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin: 3px 5px 3px 0;
  padding: 0;
  width: auto;
}

.hs-input[type='file'] {
  background-color: #fff;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

.hs-input:-moz-placeholder {
  color: #3d3d3d;
}

.hs-input::-webkit-input-placeholder {
  color: #3d3d3d;
}

.hs-input input,
.hs-input textarea {
  transition: border 0.2s linear;
}

.hs-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: none;
}

textarea.hs-input {
  height: auto;
}

form .hs-richtext img {
  height: auto;
  max-width: 100% !important;
}

select[multiple].hs-input {
  height: inherit;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type='radio']):not([type='checkbox']) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: #c87872;
}

input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: #b9554d;
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 5px;
  padding-left: 0;
  width: 100%;
}

.inputs-list > li {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 0;
  width: 100%;
}

.inputs-list label {
  display: block;
  float: none;
  font-weight: normal;
  line-height: 18px;
  padding: 0;
  text-align: left;
  white-space: normal;
  width: auto;
}

.inputs-list:first-child {
  padding-top: 6px;
}

.inputs-list > li + li {
  padding-top: 2px;
}

.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 18px;
}

.hs-field-desc {
  color: #7c98b6;
  font-size: 14px;
  margin: 0 0 6px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  line-height: 1.2;
  margin-bottom: 3px;
}

.hs-richtext hr {
  margin-left: 0;
  text-align: left;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction,
.email-validation {
  font-size: 12px;
  padding-top: 3px;
}

.email-correction a,
.email-validation a {
  cursor: pointer;
}

@media (max-width: 400px),
  (min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }

  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }

  .email-correction form .form-columns-2 .hs-form-field input[type='checkbox'],
  .email-correction form .form-columns-2 .hs-form-field input[type='radio'],
  .email-correction form .form-columns-3 .hs-form-field input[type='checkbox'],
  .email-correction form .form-columns-3 .hs-form-field input[type='radio'],
  .email-validation form .form-columns-2 .hs-form-field input[type='checkbox'],
  .email-validation form .form-columns-2 .hs-form-field input[type='radio'],
  .email-validation form .form-columns-3 .hs-form-field input[type='checkbox'],
  .email-validation form .form-columns-3 .hs-form-field input[type='radio'] {
    width: 24px;
  }
}

.hs-button,
.hs-form-field input[type='text'],
.hs-form-field input[type='email'],
.hs-form-field input[type='phone'],
.hs-form-field input[type='number'],
.hs-form-field input[type='tel'],
.hs-form-field input[type='date'],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: Lato, serif;
}

/* Membership error message */

.form-input-validation-message ul {
  margin: 0;
  padding-left: 0;
}

.form-input-validation-message ul li {
  line-height: 1rem;
}

/* Password prompt */

.password-prompt input[type='password'] {
  height: auto !important;
  margin-top: 0 !important;
}
