<!--
  templateType: global_partial
  label: Website header
-->

<header class="header">

  {# Top Bar #}
  <div class="header__top-bar">
    <div class="header__container">
      {% module "navigation-secondary" path="../../modules/menu-section", label="Top bar navigation" %}
    </div>
  </div>
  {# End Top Bar #}

  {# Main Header Section #}
  <div class="header__main-bar">
    <div class="header__container">
      <div class="header__logo">
        {% module "header_logo"
          path="@hubspot/logo",
          label="Logo",
          img={
            'alt': 'Martech logo',
            'height': '82',
            'src': get_asset_url('../../images/logo.svg'),
            'width': '205'
          }
        %}
      </div>

      {# Main Navigation #}
      <div class="header__menu">
          <input type="checkbox" id="nav-toggle">
          <label class="header__navigation-toggle" for="nav-toggle">
            <span class="header__mobile-menu-icon"></span>
          </label>
          <div class="header__navigation">
            {% module 'header_navigation_primary'
              label='Primary navigation',
              path='../../modules/menu-section'
            %}
            {% module "navigation-secondary"
              path="../../modules/menu-section",
              label="Top bar navigation",
              duplicate_mobile_menu=true,extra_classes="header__navigation--secondary-mobile"
            %}
          </div>

          {# Language Toggle #}
          {% if content.translated_content|length || group.translations %}
            <div class="header__language-switcher">
              <div class="header__language-switcher-label">
                {% module 'language-switcher'
                  label='Language switcher',
                  path='@hubspot/language_switcher',
                  display_mode='localized'
                %}
                <div class="header__language-switcher-label-current"> {{ locale_name(locale) }}</div>
              </div>
            </div>
          {% endif %}
          {# End Language Toggle #}
      </div>
      {# End Main Navigation #}

    </div>
  </div>
  {# End Main Header Section #}


</header>