<!--
  templateType: global_partial
  label: Website header
-->
<nav class="navbar navbar-expand-md" id="nav_bar">
  <div class="container--large">
    <div class="nav-wrap">
      <div class="header-logo-wrap">
        {% module 'header_logo'
          path='@hubspot/logo',
          img={
            'override_inherited_src': false,
            'alt': 'Finfind logo',
          }
        %}  
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">how it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">business owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">business funders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">toolbox</a>
          </li>
        </ul>
        <a class="header-login-link" href="#">log in</a>
      </div>
    </div>
  </div>
</nav>

